body{
	background-color: #444;
	color: #FAFAFA;
}

#main{
	margin: auto;;
	height: auto;
	width: auto;
	text-align: center;
	align: center;
}

#header{
	
}

#footer{
	
}

#inputUser{
	color: black;
}

#gamesDrop{
	display: none;
}

#hit{
	margin: 20px;
}

#status{
	
}

#friends{
	
}